.HomeWrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

.NavLinks {
  display: flex;
  width: Hug (309px);
  height: Hug (34px);
  top: 17px;
  left: 931px;
  gap: 57px;
}
