.NavLinks {
  --text-color: hsl(0, 0%, 0%);
  --text-decoration-color: hsl(0, 0%, 100%);
}

.FooterContainer {
  --text-color: hsl(0, 0%, 100%);
  --background-color: hsl(0, 0%, 0%);
}

.ErrorText {
  --text-color: hsl(0, 100%, 69%);
}

.ErrorLink {
  --text-color: hsl(0, 0%, 0%);
}

.Banner {
  --background-color: hsl(0, 0%, 0%);
}

.BannerTitle {
  --text-color: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 0%);
}

.HomeTextCard {
}
