.NavLinks {
  --text-color: hsl(0, 0%, 0%);
  --text-decoration-color: hsl(0, 0%, 100%);
}

.FooterContainer {
  --text-color: hsl(0, 0%, 100%);
  --background-color: hsl(0, 0%, 0%);
}

.ErrorText {
  --text-color: hsl(0, 100%, 69%);
}

.ErrorLink {
  --text-color: hsl(0, 0%, 0%);
}

.Banner {
  --background-color: hsl(0, 0%, 0%);
}

.BannerTitle {
  --text-color: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 0%);
}

.HomeContainer {
  --background-color: hsl(0, 0%, 96%);
}

.Card {
  --background-color: hsl(0, 100%, 69%);
}

.CardText {
  --text-color: hsl(0, 0%, 100%);
}

.CollapseCard {
  --text-color: hsl(0, 0%, 100%);
  --background-color: hsl(0, 100%, 69%);
}

.CollapseCardText {
  --text-color: hsl(0, 0%, 100%);
}

.CollapseCard button {
  --background-color: hsl(0, 100%, 69%);
}

.CollapseCardDpn {
  --text-color: hsl(0, 0%, 0%);
}
