// ----------------------
//         BANNER
// ----------------------

.BannerTitle {
  position: absolute;
  top: 205px;
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

// ----------------------
//         CARD
// ----------------------

.CardText {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

// ----------------------
//         COLLAPSE
// ----------------------

.CollapseCardText {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

.CollapseCardDpn {
  color: var(--text-color);
}

// ----------------------
//         ERROR
// ----------------------

.ErrorText {
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

.ErrorLink {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

// ----------------------
//         FOOTER
// ----------------------

.TextFooter {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-color);
}

// ----------------------
//         HEADER
// ----------------------

.NavLinks {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  text-decoration: none;
}

.NavLinks a,
a:visited {
  color: var(--text-color);
  text-decoration-color: var(--text-decoration-color);
}

// ----------------------
//         FILE
// ----------------------

.FileTitle {
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

.FileAddress {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

.FileTags span {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-color);
  background-color: var(--background-color);
}

.FileOwnerName {
  font-size: 18px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: right;
  color: var(--text-color);
}
