@use '../util' as u;

// ----------------------
//         BANNER
// ----------------------

.BannerTitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
  @include u.breakpoints(small) {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}

// ----------------------
//         CARD
// ----------------------

.CardText {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
  @include u.breakpoints(small) {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
}

// ----------------------
//         COLLAPSE
// ----------------------

.CollapseCardText {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);

  @include u.breakpoints(small) {
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.CollapseCardDpn {
  color: var(--text-color);
  @include u.breakpoints(small) {
    font-size: 13px;
  }
}

// ----------------------
//         ERROR
// ----------------------

.ErrorText {
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);

  @include u.breakpoints(small) {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.ErrorLink {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);

  @include u.breakpoints(small) {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
}

// ----------------------
//         FOOTER
// ----------------------

.TextFooter {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-color);
  @include u.breakpoints(small) {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }
}

// ----------------------
//         HEADER
// ----------------------

.NavLinks {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  text-decoration: none;

  @include u.breakpoints(small) {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
  }
}

.NavLinks a:hover {
  text-decoration: underline;
}

.NavLinks a,
a:visited {
  color: var(--text-color);
  text-decoration-color: var(--text-decoration-color);
}

// ----------------------
//         FILE
// ----------------------

.FileTitle {
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);

  @include u.breakpoints(small) {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.FileAddress {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);

  @include u.breakpoints(small) {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.FileTags span {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-color);
  background-color: var(--background-color);

  @include u.breakpoints(small) {
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.FileOwnerName {
  font-size: 18px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: right;
  color: var(--text-color);

  @include u.breakpoints(small) {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
    width: 50px;
  }
}
