.NavLinks {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  text-decoration: none;
}

.NavLinks a,
a:visited {
  color: var(--text-color);
  text-decoration-color: var(--text-decoration-color);
}

.FooterContainer {
  background-color: var(--background-color);
}

.TextFooter {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-color);
}

.ErrorText {
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

.ErrorLink {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

.BannerTitle {
  position: absolute;
  top: 175px;
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

.HomeCardText {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

.CollapseCardText {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

.CollapseCardDpn {
  padding: 0px 10px;
  color: var(--text-color);
}
